<div class="container">
  <div class="row mt-4">
    <h4><span style="margin-left:100px">新規会員登録</span></h4>
  </div>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "customers/shared/error_messages", resource: resource %>

      <div class="form-group row mt-3">
        <div class="form-inline">
        <%= f.label :名前, class:"col-2 mt-2" %>
          （姓）<%= f.text_field :first_name, class:"col-3" ,:placeholder =>"令和"%>
          （名）<%= f.text_field :last_name, class:"col-3",:placeholder =>"道子" %>
        </div>
        </div>
        
    <div class="form-group row mt-2">
        <div class="form-inline">
          <%= f.label :フリガナ, class:"col-2 mt-2" %>
          （セイ）<%= f.text_field :first_name_kana, class:"col-3",:placeholder =>"レイワ" %>
          （メイ）<%= f.text_field :last_name_kana, class:"col-3" ,:placeholder =>"ミチコ" %>
        </div>
      </div>

        <div class="form-group row mt-2">
          <%= f.label :メールアドレス, class:"col-3 mt-2" %>
          <%= f.email_field :email, class:"col-3" ,:placeholder =>"sample@example.com"%>
        </div>

        <div class="form-group row mt-2">
          <%= f.label :郵便番号, class:"col-3 mt-2" %>
          <%= f.text_field :postal_code, class:"col-3" ,:placeholder =>"0000000"%>
        </div>

       <div class="form-group row mt-2">
          <%= f.label :住所, class:"col-3 mt-2" %>
          <%= f.text_field :address, class:"col-6" ,:placeholder =>"東京都渋谷区代々木神園町0-0"%>
        </div>

        <div class="form-group row mt-2">
          <%= f.label :電話番号, class:"col-3 mt-2" %>
          <%= f.telephone_field :phone_number, class:"col-2" ,:placeholder =>"00000000000"%>
        </div>

       <div class="form-group row mt-2">
          <%= f.label :パスワード（6文字以上）, class:"col-3 mt-2" %>
          <%= f.password_field :password, class:"col-2", autocomplete: "new-password" %>
        </div>

       <div class="form-group row mt-2">
          <%= f.label :パスワード（確認用）, class:"col-3 mt-2" %>
          <%= f.password_field :password_confirmation, class:"col-2", autocomplete: "new-password" %>
        </div>

       <div class="form-group row mt-2">
          <div class="col-5"> 
          <%= f.submit "新規登録", class:"btn btn-success"%>
          </div>
        </div>

   <div class="row mt-4">
    <h4><span style="margin-left:100px">既に登録済の方</span></h4>
   </div>

</div>

        <div class="row mb-3">
          <span style="margin-left:150px"><%= link_to "こちら", new_customer_session_path, class: "signin-link" %>    からログインしてください。</span>
        </div>

      <% end %>
</div>