<div class='container px-5 px-sm-0'>
  <div class='row pt-3'>
    <div class='col-md-4 pt-3 pb-3 bg-transparent'>
      <h2>配送先登録/一覧</h2>
      <%= render 'public/addresses/createAddress', address: @address %>
    </div>
      <div class='col-md-7 offset-md-1 pt-3 pb-3 bg-transparent '>
        <table class = "table table-hover table-inverse table-borderless" >
          <thead>
            <tr>
              <th>郵便番号</th>
              <th>住所</th>
              <th>宛名</th>
              <th colspan="2"></th>
            </tr>
          </thead>
          <tbody>
            <% @addresses.each do |address| %>
              <tr>
                <td>
                  〒<%= address.postal_code %>
                </td>
                <td><%= address.address %></td>
                <td><%= address.name %></td>
                <td><%= link_to "編集", edit_address_path(address), class: 'fas fa-pencil-alt btn btn-outline-dark' %></td>
                <td><%= link_to "削除",address_path(address), class: 'fas fa-trash-alt btn btn-outline-dark',  method: :delete, "data-confirm" => "本当に削除しますか？" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>