<div class='container'>
  <div class='row mt-5'>
    <div class="col-lg-4">ジャンル検索</div>
    <!--<=link_to'ケーキ', %>-->
    
      <div class="col-md-5" offset-md-1>
        <h2>ようこそ、ながのCAKEへ！</h2>
            このサイトは、ケーキ販売のECサイトになります。<br>
            会員でない方も商品の閲覧はできますが、<br>
            購入には会員登録が必要になります。<br>
      </div>
      <div class="col-md-3" offset-md-1>
           <%= image_tag 'img_strawberry_cake.jpeg',size: '350x250' ,alt: "いちごのホールケーキ"%>
      </div>
  </div>
  
  <div class='row mt-5'>
    <div class="col-md-4"></div>
    <h3>新着商品</h3>
  </div>
  <div class='row mt-3'>
    <div class="col-md-4"></div>
      <div class="col-md-2" offset-md-1>
        <%= image_tag 'img_raspberry_pudding.jpeg',size: '150x100' , alt: "ラズベリープリン"%><br>
        ラズベリーがのったプリン<br>
        ¥800
      </div>
      <div class="col-md-2" offset-md-1>
        <%= image_tag 'img_cheese_cake.jpeg',size: '150x100' , alt: "チーズケーキ"%><br>
        チーズケーキ<br> 
        ¥2,000 
      </div>    
      <div class="col-md-2" offset-md-1>  
        <%= image_tag 'img_macaroon.jpeg',size: '150x100' , alt: "マカロン"%> <br> 
        マカロン<br> 
        ¥1,000
       </div>
       <div class="col-md-2" offset-md-1>
         <%= image_tag 'img_candy.jpeg',size: '150x100' , alt: "フルーツ飴" %><br> 
         フルーツ飴<br> 
         ¥500 
       </div>    
  </div>
  <div class="float-lg-right"><%= link_to '全ての商品を見る >', items_path %></div>
</div>


