<dev class="container">
     <div class='row'>
  <div class='col-md-7'>


  </div>
  <div class='col-md-11 offset-md-1'>
    <div class="mb-3">

    <div role="content">
      <div class="widget-body">
        <div class="row">
          <form id="wizard-1" novalidate="novalidate">
            <div id="bootstrap-wizard-1" class="col-sm-12">
              <div class="form-bootstrapWizard">
                <ul class="bootstrapWizard form-wizard">
                  <li data-target="#step1"><span class="step">1</span> <span class="title">買い物かごに入れる</span></li>
                  <li class="active" data-target="#step2" class=""> <span class="fas fa-mug-hot fa-2x"></span> <span class="title">注文情報入力</span></li>
                  <li data-target="#step3" class="">  <span class="step">3</span> <span class="title">注文内容を確認</span></li>
                  <li data-target="#step3" class=""> <span class="step">4</span> <span class="title">完了</span></li>
                </ul>
                <div class="clearfix"></div>
              </div>
              <div class="tab-content">
                <div class="tab-pane" id="tab1"> <br>
                  <h3><strong>買い物かごに入れる</strong> </h3>
                </div>
                <div class="tab-pane" id="tab2"> <br>
                  <h3><strong>注文情報入力</strong> </h3>
                </div>
                <div class="tab-pane" id="tab3"> <br>
                  <h3><strong>注文内容を確認</strong> </h3>
                </div>
                <div class="tab-pane" id="tab4"> <br>
                  <h3><strong>完了</strong> </h3>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

  <div class="row mb-5 pb-5">
    <div class="col-md-8 offset-md-1">
      <%= form_with model:@order,url:orders_confirm_path, local: true do |f| %>
      <h4>支払い方法</h4>
        <%= f.radio_button :payment_method, :"クレジットカード", checked: true %>
        <%= f.label :payment_method, "クレジットカード" %>
        <%= f.radio_button  :payment_method, :"銀行振込" %>
        <%= f.label :payment_method, "銀行振込" %>

        <table>
          <tr>
            <h4>お届け先</4>
            <th></th>
            <%= f.radio_button :address_number, 1, checked: true%>
            <%= f.label :address_number_1, "ご自身の住所" %><br>
            〒<%= current_customer.postal_code %>
            <%= current_customer.address %><br>
            <%= current_customer.first_name + current_customer.last_name %>
          </tr>
        </table>

        <table>
          <tr>
            <%= f.radio_button :address_number, 2 %>
            <%= f.label :address_number_2, "登録済み住所から選択" %>
            <%= f.collection_select :registered, current_customer.addresses.all, :id, :select_address, :include_blank => "送り先を選んでください" %>
          </tr>
        </table>
        <%= f.radio_button :address_number, 3 %>
        <%= f.label :address_number_3, "新しいお届け先" %>
        <h6>郵便番号（ハイフンなし）</h6>
        <% f.label :postal_code, "郵便番号" %>
        <%= f.text_field :postal_code %>
        <h6>住所</h6>
        <% f.label :address, "住所" %>
        <%= f.text_field :address %>
        <h6>宛名</h6>
        <% f.label :name, "宛名" %>
        <%= f.text_field :name %>
        <%= f.submit '確認画面へ進む' %>

      <% end %>
    </div>
  </div>
</div>