<!DOCTYPE html>
<html>
  <head>
    <script src="https://kit.fontawesome.com/10a14675a6.js" crossorigin="anonymous"></script>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <% if admin_signed_in? %>
      <%= render 'layouts/header_admin' %>
    <% else %>
      <%= render 'layouts/header' %>
    <% end %>
    <main>
      <%= yield %>
    </main>
     <!--<#%= render 'layouts/footer' %>-->
  </body>
</html>
